.cms-empty-error {
    font-size: 2rem;
    background-color: #ff4f4f;
    margin-top: 20px;
    padding: 20px;
    color: var(--white);
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.75);
}